#Entorno virtual
venv/
ENV/
.env
.venv/
.env/

# Archivos de configuración 
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/

# Archivo de logs
*.log

# Otros documentos
*.xlsx

# Versiones 
Old versions/

